# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Node/React
node_modules/
dist/
build/
.npm
.eslintcache
.stylelintcache

# Mac/Windows
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Project Report
project_report.md

# Databases
chroma_db/
*.db
*.sqlite3
