fastapi
uvicorn
crewai
chromadb
sqlalchemy
python-dotenv
pydantic
pypdf
sentence-transformers
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator

langchain-google-genai
langchain-community

langchain-ollama

litellm
